{% extends 'base.html' %}


{% block title %}Reset Password{% endblock title %}

{% block content %}
<h1>Password Reset</h1>
<p>Type in your email address below and if it matches our records, you'll receive instructions for resetting your
    password.</p>
<form method="post">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" placeholder="Enter your email">
    </div>

    <input type="submit" value="Check" class="btn btn-success">
</form>
{% endblock content %}