{% extends 'base.html' %}
{% load static %}


{% block title %}Sign Up{% endblock title %}

{% block content %}
<main>
    <div class="formAllign">
        <img src="{% static 'images/Imagen1.jpg' %}" alt="image" id="imageForm" />
        <form method="post" id="signForm">
            <h2>Join the family!</h2>
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Username</label>
                {{form.username}}            
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                {{form.email}}            
            </div>

            <div class="mb-3">
                <label class="form-label">Type</label>
                {{form.type}}            
            </div>

            <div class="mb-3">
                <label class="form-label">Address</label>
                {{form.address}}            
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                {{form.password1}}            
            </div>

            <div class="mb-3">
                <label class="form-label">Confirm password</label>
                {{form.password2}}            
            </div>
            <input type="submit" value="Sign Up" class="btn btn-success">
        </form>
    </div>
    <small>Already have an account? <a href="{% url 'login' %}">Click here</a> to log in.</small>

</main>
{% endblock content %}