{% extends 'base.html' %}
{% load static %}

{% block title %}Catalog{% endblock title %}

{% block content %}
<section id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h4>Sneakers</h4>
        <h2>Basketball</h2>
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
        <a href="{% url 'list_sneakers' %}" class="btn buttonProduct">Check out</a>
    </div>
    <div class="banner-box banner-box2">
        <h4>Exercise wear</h4>
        <h2>Look good at the gym!</h2>
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
        <a href="{% url 'list_exercise' %}" class="btn buttonProduct">Check out</a>
    </div>

    <div class="banner-box banner-box3">
        <h4>Sport wear</h4>
        <h2>Train like a pro</h2>
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
        <a href="{% url 'list_sport' %}" class="btn buttonProduct">Check out</a>
    </div>

    <div class="banner-box banner-box4">
        <h4>Jerseys</h4>
        <h2>Get the jersey of your favorite teams!</h2>
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
        <a href="{% url 'list_jerseys' %}" class="btn buttonProduct">Check out</a>
    </div>
</section>
<br><br><br>
<h3 class="title">Check out all the products!</h1>

    <div class="body">
        {% if items_list|length > 0 %}



        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    {% for item in items_list %}
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ item.image.url }}" alt="image" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">{{item.title}}</h2>
                            <p class="description">{{item.description}}</p>

                            <a href="{% url 'detail' item.id %}" class="btn button">Check</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>





        {% else %}

        <h5>There's no items yet.</h5>

        {% endif %}

    </div>




    {% endblock content %}