{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}
<main>
    <div class="container-fluid">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="info">
                        <h1>SNEAKERS</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
                    </div>                  
                </div>
                <div class="carousel-item">
                    <div class="info">
                        <h1>EXERCISE WEAR</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
                    </div>    
                </div>
                <div class="carousel-item">
                    <div class="info">
                        <h1>SPORTS WEAR</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
                    </div>    
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <section class="checkProducts">
        <div class="main">
            <img src="{% static 'images/kyrie.png' %}" alt="sneakers" />
            <div class="about-text">
                <h2>What's new?</h2>
                <h5>Sneakers shop</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil assumenda autem, consectetur
                    pariatur at facere, in maiores totam perferendis corporis dolorem mollitia eius accusantium sed
                    voluptates, aperiam esse nisi vel!</p>


                <a class="btn btn-outline-success" type="button" id="checkButton" href="{% url 'list' %}">Check out</a>

            </div>
        </div>
    </section>
</main>
{% endblock content %}