{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}
<main>
    <div class="principal-section">
        <h1 class="section-text">Best options of the market</h1>

        <img src="{% static 'images/image1.jpg' %}" alt="section image" class="section-img">
    </div>

    <section class="checkProducts">
        <div class="main">
            <img src="{% static 'images/kyrie.png' %}" alt="sneakers" />
            <div class="about-text">
                <h2>What's new?</h2>
                <h5>Sneakers shop</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil assumenda autem, consectetur
                    pariatur at facere, in maiores totam perferendis corporis dolorem mollitia eius accusantium sed
                    voluptates, aperiam esse nisi vel!</p>


                <button class="btn btn-outline-success" type="submit" id="checkButton">Check out</button>

            </div>
        </div>
    </section>
</main>
{% endblock content %}