/* Home Carousel */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

div.container-fluid {
    margin-bottom: 20px;
}

#carouselExampleIndicators {
    position: relative;
    height: 90vh;
    width: 100%;
}

#carouselExampleIndicators .carousel-inner {
    position: relative;
    height: 100%;
    width: 100%;
    background: #000;
}

#carouselExampleIndicators .carousel-inner:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.45);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#carouselExampleIndicators .carousel-inner .carousel-item {
    position: relative;
    height: 100%;
    width: 100%;
    background: url('./images/nike-sb-dunk-low-valour-blue-wallpaper-retina_1400x1050.jpg') no-repeat center;
    background-size: cover;
    background-position: center;

}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2) {
    background: url('./images/5234177_1400x1050.png') no-repeat center;
    background-size: cover;
    background-position: center;
}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3) {
    background: url('./images/pexels-oliver-sjostrom-1103833_1400x1050.jpg') no-repeat center;
    background-size: cover;
    background-position: center;
}


#carouselExampleIndicators .carousel-inner .carousel-item .info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#carouselExampleIndicators .carousel-inner .carousel-item h1 {
    color: #fff;
    height: auto;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 5.5em;
    font-weight: 750;
    /* -webkit-box-reflect: below -25px linear-gradient(transparent, rgba(0,0,0,0.5)); */
}

#carouselExampleIndicators .carousel-inner .carousel-item p {
    color: #ccc;
    height: auto;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 1.2em;
    font-weight: 500;
    /* -webkit-box-reflect: below -25px linear-gradient(transparent, rgba(0,0,0,0.5)); */
}


@media screen and (max-width: 768px) {

    #carouselExampleIndicators {
        position: relative;
        height: 70vh;
        width: 100%;
    }

    #carouselExampleIndicators .carousel-inner .carousel-item h1 {
        font-size: 3.8em;
    }

    #carouselExampleIndicators .carousel-inner .carousel-item p {
        font-size: 1em;
    }
}

/* Support page */
.support-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

    min-height: 100vh;
    width: 100%;

    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.support-container {
    width: 80%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.support-container .support-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.support-container .support-content .support-left {
    width: 25%;
    height: 100%;
    position: relative;
}

.support-container .support-content .support-left::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #afafb6;
}

.support-content .support-left .details {
    margin-left: 14px;
    text-align: center;
}

.support-content .support-left .details i {
    font-size: 30px;
    color: rgb(0, 102, 204);
    margin-bottom: 10px;
}

.support-container .support-content .support-right {
    width: 75%;
    margin-left: 100px;
}

.support-content .support-left .details .support-topic {
    font-size: 18px;
    font-weight: 500;
}

.support-content .support-left .details .text-one,
.support-content .support-left .details .text-two {
    font-size: 14px;
    color: #afafb6;
}

.support-container .support-content .support-right .support-topic {
    font-size: 23px;
    font-weight: 600;
    color: rgb(0, 102, 204);
}

.support-right .support-topic .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.support-right .support-topic .input-box input {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    padding: 0 15px;
    resize: none;
    margin-bottom: 15px;
}


@media (max-width: 950px) {
    .support-container {
        width: 90%;
        padding: 30px 35px 40px 35px;
    }
}

@media (max-width: 820px) {
    .support-container {
        width: 40px 0;
        height: 100%;
    }

    .support-container .support-content {
        flex-direction: column-reverse;
    }

    .support-container .support-content .support-left {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .support-container .support-content .support-left::before {
        display: none;
    }

    .support-container .support-content .support-right {
        width: 100%;
        margin-left: 0;
    }

    .card-marg {
        margin-top: 75px;

    }
}

/* Cart CSS */

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: rgb(0, 102, 204);
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td form #add {
    width: 40px;
    height: 30px;
    padding: 5px;
    margin-right: 20px;
}

.remove {
    width: 40px;
    height: 30px;
    padding: 5px;
    margin-right: 20px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}



.total-price table {
    border-top: 3px solid rgb(0, 102, 204);
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: left;
}

.p-quantity {
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
    .cart-info {
        display:grid;
    }

    .cart-info form{
        margin-bottom: 10px;
    }
}