{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div>
                    <a class="navbar-brand" href="index.html">BeSporty</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown" id="menuOptions">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="products.html">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="postItem.html">Post item</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="support.html">Support</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                            id="searchLabel">

                    </form>

                    <a class="btn btn-outline-success" type="submit" id="signButton" href="./signin.html">Sign in</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="principal-section">
            <h1 class="section-text">Best options of the market</h1>

            <img src="./images/shoes.jpg" alt="section image" class="section-img">
        </div>

        <section class="checkProducts">
            <div class="main">
                <img src="./images/kyrie.png" alt="sneakers" />
                <div class="about-text">
                    <h2>What's new?</h2>
                    <h5>Sneakers shop</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil assumenda autem, consectetur
                        pariatur at facere, in maiores totam perferendis corporis dolorem mollitia eius accusantium sed
                        voluptates, aperiam esse nisi vel!</p>


                    <button class="btn btn-outline-success" type="submit" id="checkButton">Check out</button>

                </div>
            </div>
        </section>
    </main>


    <footer>
        <div class="footer">
            <div class="footer-content">
                <h3>BeSporty</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <ul class="socialMedia">
                    <li><a href='#'><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href='#'><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href='#'><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href='#'><i class="fa-brands fa-tiktok"></i></a></li>
                </ul>
            </div>
            <div className="footer-bottom">
                <p>BeSporty &copy; 2022.</p>
            </div>
        </div>
    </footer>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>