{% extends 'base2.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}


{% block content %}

<div class="small-container cart-page">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>

            </tr>
        </thead>
        <tbody>
            {% if request.session.cart.items %}
            {% for key, value in request.session.cart.items %}
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="{{value.image}}" alt="image">
                        <div>
                            <p>{{value.name}}</p>
                            <p>{{value.type}}</p>
                            <small>Size: {{value.size}}</small>
                            <br>
                            <form action="{% url 'remove' value.item_id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="key" value="{{key}}">
                                <button type="submit" class="btn btn-success">Remove</button>
                            </form>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="cart-info">
                        <p class="p-quantity">{{value.quantity}}</p>
                        <form action="{% url 'add' value.item_id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="size" value="{{value.size}}">
                            <button id="add" type="submit" class="badge btn btn-dark badge-dark">+</button>
                        </form>

                        <form action="{% url 'substract' value.item_id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="key" value="{{key}}">
                            <button id="add" type="submit" class="badge btn btn-dark badge-dark">-</button>
                        </form>
                    </div>
                </td>

                <td>
                    <div class="cart-info">
                        <div>
                            <p>${{value.price_acum}}</p>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">
                    <div class="alert alert-danger text-center">No products yet.</div>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="total-price">
        <table>
            <tr>
                <td>Total:</td>
                <td>${{total_cost}}</td>
                <td class="buy">
                    <a href="{% url 'confirmBuy' %}" class="btn btn-success">Buy</a>
                </td>
            </tr>
        </table>

    </div>
    <div class="col-6"><a href="{% url 'clean' %}" class="btn btn-danger">Clean</a></div>
</div>


{% endblock content %}