{% extends 'base2.html' %}

{% block title %}{{ items.title }}{% endblock title %}

{% block content %}
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="{{ items.image.url }}" alt="imageItem">
        </div>
        <div class="col-2">
            <p>{{items.type.name}}</p>
            <h1>{{items.title}}</h1>
            <h4>${{items.price}}</h4>

            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'add' items.id %}">
                {% csrf_token %}
                <select name="size">
                    <option>XXL</option>
                    <option>XL</option>
                    <option>Large</option>
                    <option>Medium</option>
                    <option>Small</option>
                </select>
                <input name="quantity" type="number" value="1" min="1" max="100">

                <button type="submit" class="btn btnOffers"><i class="fa-solid fa-cart-plus"></i></button>
                {% endif %}




            </form>

            <h3>Product Details</h3>
            <p>{{items.description}}</p>

            {% if items.type.name == 'Jerseys' %}
            <a href="{% url 'list_jerseys' %}" class="btn btnBack">Go back</a>

            {%else%}
            {% if items.type.name == "Sport" %}
            <a href="{% url 'list_sport' %}" class="btn btnBack">Go back</a>

            {%else%}
            {% if items.type.name == "Sneakers" %}
            <a href="{% url 'list_sneakers' %}" class="btn btnBack">Go back</a>

            {%else%}
            {% if items.type.name == "Exercise" %}
            <a href="{% url 'list_exercise' %}" class="btn btnBack">Go back</a>
            {% endif %}

            {% endif %}

            {% endif %}

            {% endif %}






        </div>


    </div>
</div>


{% endblock content %}