{% extends 'base.html' %}

{% block title %}{{ items.title }}{% endblock title %}

{% block content %}
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="{{ items.image.url }}" alt="imageItem">
        </div>
        <div class="col-2">
            <p>{{items.title}}</p>
            <h1>{{items.title}}</h1>
            <h4>{{items.price}}</h4>
            <select>
                <option>Select Size</option>
                <option>XXL</option>
                <option>XL</option>
                <option>Large</option>
                <option>Medium</option>
                <option>Small</option>
            </select>
            <input type="number" value="1">

            <a href="#" class="btn btnOffers"><i class="fa-solid fa-cart-plus"></i></a>

            <h3>Product Details</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet non, sint facilis deleniti amet porro
                vero hic praesentium ducimus earum sit? Error, quas! Vero quia fuga, asperiores facilis cupiditate
                rerum?
            </p>

            <a href="{% url 'list' %}" class="btn btnBack">Go back</a>
        </div>

        
    </div>
</div>


{% endblock content %}