{% extends 'base.html' %}
{% load static %}
{% block title %}Items{% endblock title %}

{% block content %}
<h1>Check out the products!</h1>

{% if items_list|length > 0 %}

<ul>
    {% for item in items_list %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ item.title }}</h4>
            <h5 class="card-subtitle mb-2 text-muted">Price: {{ item.price}}</h5>
            <p class="card-text">{{ item.description|truncatechars:500 }}</p>
            <a href="{% url 'detail' item.id %}" class="card-link">Read more</a>
            <p class="author-options">
                <a href="{% url 'edit' item.id %}" class="card-link"><i class="bi bi-file-earmark-plus"></i></a>
                <a href="{% url 'delete' item.id %}" class="card-link"><i class="bi bi-trash"></i></a>
            </p>



            <img src="{% static 'images/{{item.image}}' %}" alt="image" id="cardImage">

        </div>
    </div>
    <br />

    {% endfor %}

</ul>

{% else %}

<h5>There's no items yet.</h5>

{% endif %}
{% endblock content %}