{% extends 'base.html' %}
{% load static %}
{% block title %}Items{% endblock title %}

{% block content %}

    
    <div class="small-container">
        <h3 class="title">Check out other products</h2>
            <div class="row">
            {% if items_list|length > 0 %}
                {% for item in items_list %}
                <div class="col-4">
                    <img src="{{ item.image.url }}" alt="image">
                    <h4>{{item.title}}</h4>
                    <p>${{item.price}}</p>

                    <a href="{% url 'detail' item.id %}" class="btn button">Check</a>
                   

                </div>
                {% endfor %}
                
                {% else %}

                <h5>There's no items yet.</h5>
        
                {% endif %}
            </div>
    </div>

    {% endblock content %}